<h1>Devices</h1>

<div class='devicesContainer'>
  <div class='device-container' ng-repeat='device in devices'>
    <span class='device-ip'>{{device.name}}</span>

    <div>
      <button class='btn btn-xs' ng-repeat='chart in charts' ng-click='loadChart(device, chart)'>{{chart}}</button>
      <div ng-repeat='chart in device.charts'>
        <ui-chart source="{{chart.source}}" metrics="{{chart.metrics}}" factors="{{chart.factors}}"
          desc="{{chart.desc}}" />
      </div>
    </div>
  </div>
</div>
