body {
  background-color: white;
  padding: 1rem;
}

.container {
  margin: 0 auto;
  width: 50rem;
}

.row {
  margin-top: 1rem;
}

.chart {

}

.chart .chart-name {
  font-weight: bold;
  color: #999;
}

.chart-tooltip {
  font-size: 10px;
  padding: 10px;
  width: 250px;
  background-color: rgba(255, 255, 255, 0.9);
  cursor: inherit;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.summary-table {
  max-width: 400px;
}

.events-table {
  font-size: 10px;
}
