{{- define "index" -}}
<!DOCTYPE html>
<html>

<head>
  <title>Cistern UI</title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
 </head>

<body>

  <div class="container">
    <h3>Cistern UI</h3>
    <div id="app"></div>
  </div>

  <script src="js/jquery-3.2.1.slim.min.js"></script>
  <script src="js/tether.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/app.min.js"></script>
</body>

</html>
{{- end -}}
