{{- define "index" -}}
<!DOCTYPE html>
<html>

<head>
  <title>Cistern UI</title>
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
 </head>

<body>

  <div class="container">
    <h1>Cistern UI</h1>
    <div id="app"></div>
  </div>

  <div class="chart-tooltip"></div>
  <script src="js/app.min.js"></script>
</body>

</html>
{{- end -}}
